# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
.directory

# Test/cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Build artifacts
dist/
build/
*.egg-info/


# Others
architecture.md
.storage/
example_docs/